

.id{
    background-color: rgb(17, 14, 204);
    width: 887px;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: aliceblue;
    padding:55px;
    border: 2px solid black;


}

.bodyy{
    background-color: rgb(218, 253, 18);  
    width: 987px;
    height: 700px;
    padding-left: 8px;
    padding-top: 8px;
    float: left;
    border: 2px solid black;
    
}

